<h2>Catégorie : Diner</h2>
<div class="card-deck">
    <% @services.each do |service| %>
  <div class="card">
  <h2><%= service.name %></h2>
  <h2><%= service.category %></h2>
  <h2><%= service.price_hourly %></h2>
  <h2><%= service.price_daily %></h2>
  <p><%= service.description %></p>0
  </div>
<% end %>
</div>

