

<div class="main-container">
    <div class="research"></div>
      <h2>Catégorie : Diner</h2>
      <h3>Plus de 23 resultats</h3>
        <div class="card-deck">
            <% @services.each do |service| %>
          <div class="card">
            <h2><%= service.name %></h2>
            <h2><%= service.catstegory %></h2>
            <h2><%= service.price_hourly %></h2>
            <h2><%= service.price_daily %></h2>
            <p><%= service.description %></p>0
            <% end %>
          </div>
        </div>
</div>

