  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 card-presentation ">
        <div class="card-product">


          <%= image_tag "#{@service.user_id}.png" , class: "avatar" %>


          <div class="card-product-infos">
            <h2><%= @service.user.first_name %></h2>
            <p>Taille <strong> <%= @service.user.height %></strong> Alcool<strong> <%= @service.user.alcool %> </strong> Tabac <strong><%= @service.user.tabac %></strong> </p>
          </div>
        </div>
        <div>
          <p> <%= @service.user.description %></p>
        </div>


      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 card-booking p-0">
        <div class="service-booking p-3  border rounded mt-4">
          <%= render partial:"bookings/new", booking: @booking %>
        </div>
      </div>
    </div>
  </div>
