<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%#= link_to "#", class: "navbar-brand" do %>
    <%#= image_tag "../../assets/images/plus1.svg" %>
    <%# end %>
  <%= image_tag "plus1.svg" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
      <li class="nav-item">
          <%= link_to "Pourquoi +1", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "A propos", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nous contacter", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div aria-labelledby="navbarDropdown">

            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
            <%= link_to "Pourquoi +1", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "A propos", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nous contacter", "#", class: "nav-link" %>
          </li>
          <%= link_to "S'identifier", "/users/sign_in", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "S'inscrire", "/users/sign_up", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


