<div class="container-fluid d-flex flex-row mx-0 px-0">
  <div class="col-3 d-flex justify-content-center cartouche ">
    <div class="d-flex flex-column justify-content-center mt-n5">
      <div class="userinfo text-center py-3">
        <%= image_tag "ZG_LW_PP.png", class: "avatar-bordered-dashboard" %>
        <h2 class="mt-2" id="dashboard-username">Ziad</h2>
      </div>

      <button class="btn btn-sm btn-secondary btn-dashboard">Mes informations</button>
      <button class="btn btn-sm btn-secondary btn-dashboard mt-3">Mes réservations</button>
    </div>
  </div>

  <div class="col-9">
    <h1 class="pl-3 pt-4">Mes réservations</h1>
    <div class="container d-flex flex-wrap">
      <div class="card-booking card rounded-lg shadow border-0 mx-2">
        <h3 class="mt-2 ml-2 d-flex"><%= @user.bookings.first.service.user.first_name %><span class="badge badge-pill-2 mb-3 ml-5">confirmée</span></h3>
        <div class="d-flex justify-content-between">
          <div class="ml-4 mt-n5">
            <p class="mb-0 text-muted text-sm">
              <!-- <i class="fas fa-ruler" style="font-size: 16px; color: #4F4F4F;"></i> -->
              <span><%= image_tag "icon - Age Group.svg", style: "height: 20px; width: auto;"%></span>
              <%= @user.bookings.first.service.user.age %> ans
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-ruler" style="font-size: 16px; color: #4F4F4F;"></i>
              <%= @user.bookings.first.service.user.height %> cm
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-graduation-cap" style="font-size: 16px; color: #4F4F4F;"></i>
              Le Wagon
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-calendar" style="font-size: 16px; color: #4F4F4F;"></i>
              <%= @user.bookings.first.start_date %>
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-calendar" style="font-size: 16px; color: #4F4F4F;"></i>
              <%= @user.bookings.first.end_date %>
            </p>
          </div>
          <div class="align-self-end">
            <h3 class="card-service-price ml-5" style="font-size: 22px; width: 100px;"><%= @user.bookings.first.total_price %> €</h3>
          </div>
        </div> 
    </div>

  </div>

</div>