<section class="banner">
<!-- <div class="banner" style="background-image: url('<%= image_path "Banner.png" %>')"> -->
  <h1><strong>Votre plus un au bal masqué ?</strong></h1>
</section>

<section class="arguments py-3">
  <div class="text-center py-3">
    <div class="subheader mb-0 pb-0">un +1 pour toutes les occasions</div>
    <h2 class="mt-0 pt-0">Votre +1 n'attend plus que vous !</h2>
  </div>
  <div class="row">
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-glass-cheers" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>SOIRÉE D'ENTREPRISE</h3>
          <p class="text-muted">Un(e) +1 pour impressionner ton patron</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-sleigh" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>DÎNER DE NOËL</h3>
          <p class="text-muted">Un(e) +1 pour impressionner ta grand-mère</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-menorah" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>DOUBLE DATE</h3>
          <p class="text-muted">Un(e) +1 pour ne plus tenir la chandelle</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="pl-3">
    <div class="subheader">Une expérience unique</div>
    <h2>Trouvez votre +1</h2>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <% @services.first(4).each do |service|  %>
    <div class="card-service">
      <%= link_to service_path(service), id: 'links' do %>
      <div class= card-service-banner>
        <%= image_tag "#{service.user_id}.png", class: "avatar-bordered" %>
        <h3 id="first_name"><%= @users.select{ |user| user.id == service.user_id }[0].first_name %></h3>
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= service.name %></h3>
        <div class="d-flex justify-content-between">
          <div class="card-subtitle mb-3">
            <p class="mb-0 text-muted text-sm">
              <!-- <i class="fas fa-ruler" style="font-size: 16px; color: #4F4F4F;"></i> -->
              <span><%= image_tag "icon - Age Group.svg", style: "height: 20px; width: auto;"%></span>
              <%= service.user.age %> ans
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-ruler" style="font-size: 16px; color: #4F4F4F;"></i>
              <%= service.user.height %> cm
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-graduation-cap" style="font-size: 16px; color: #4F4F4F;"></i>
              Le Wagon
            </p>
          </div>
          <div class="align-self-end">
            <div class="card-service-price">
              <div><%= service.price_hourly %>€<br><span id="per_hour">/heure</span></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
<section class="py-3">
  <!-- TODO : Testimonies -->
</section>
