<section class="banner">
<!-- <div class="banner" style="background-image: url('<%= image_path "Banner.png" %>')"> -->
  <h1><strong>Votre plus un au bal masqué ?</strong></h1>
</section>

<section class="arguments py-3">
  <div class="text-center py-3">
    <div class="subheader mb-0 pb-0">un +1 pour toutes les occasions</div>
    <h2 class="mt-0 pt-0">Votre +1 n'attend plus que vous !</h2>
  </div>
  <div class="row">
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-glass-cheers" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>SOIRÉE D'ENTREPRISE</h3>
          <p class="text-muted">Un(e) +1 pour impressionner ton patron</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-sleigh" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>DÎNER DE NOËL</h3>
          <p class="text-muted">Un(e) +1 pour impressionner ta grand-mère</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-menorah" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>DOUBLE DATE</h3>
          <p class="text-muted">Un(e) +1 pour ne plus tenir la chandelle</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="pl-5">
    <div class="subheader">Une expérience unique</div>
    <h2>Trouvez votre +1</h2>
  </div>
  <div class="d-flex flex-row justify-content-between px-5">
    <% @services.first(4).each do |service|  %>
    <div class="card-service">
      <%= link_to service_path(service), id: 'links' do %>
      <div class="card-service-banner">
        <%= image_tag "profile_pics/#{service.user_id}.jpg", class: "avatar-bordered" %>
        <h3 id="first_name"><%= @users.select{ |user| user.id == service.user_id }[0].first_name %></h3>
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= service.name %></h3>
        <div class="d-flex justify-content-between">
          <div class="card-subtitle mb-3">
            <p class="mb-0 text-muted text-sm">
              <!-- <i class="fas fa-ruler" style="font-size: 16px; color: #4F4F4F;"></i> -->
              <span><%= image_tag "icon - Age Group.svg", style: "height: 20px; width: auto;"%></span>
              <%= service.user.age %> ans
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-ruler" style="font-size: 16px; color: #4F4F4F;"></i>
              <%= service.user.height %> cm
            </p>
            <p class="mb-0 text-muted text-sm">
              <i class="fas fa-graduation-cap" style="font-size: 16px; color: #4F4F4F;"></i>
              Le Wagon
            </p>
          </div>
          <div class="align-self-end">
            <div class="card-service-price">
              <div><%= service.price_hourly %>€<br><span id="per_hour">/heure</span></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
<section class="py-3">
  <!-- TODO : Testimonies -->
  <div class="pl-5">
    <div class="subheader">c'est la vérité</div>
    <h2>Ils ont testé pour vous !</h2>
  </div>
    <div class="pb-3">
      <div class="d-flex justify-content-center">
        <div class="testimonial card rounded-lg shadow border-0 mx-2">
          <%# <%= image_tag "ZG_LW_PP.png", class: "avatar avatar-testimony" %>
          <div class="text px-5 py-5">
            <div class="testimonial-quote"><i class="fas fa-quote-right" style="color: #000000;"></i></div>
            <p class="testimonial-text mx-n1">+1 c'est bien ! +1 c'est pas bien !<br> +1 c'est bien ! +1 c'est pas bien !<br> +1 c'est bien !
                                        +1 c'est pas bien !<br> +1 c'est bien ! +1 c'est pas bien !</p>
            <strong>Mathilde</strong>
          </div>
        </div>

        <div class="testimonial card rounded-lg shadow border-0 mx-2">
          <%# <%= image_tag "ZG_LW_PP.png", class: "avatar avatar-testimony" %>
          <div class="text px-5 py-5">
            <div class="testimonial-quote"><i class="fas fa-quote-right" style="color: #000000;"></i></div>
            <p class="testimonial-text mx-n1">Ma copine m'a largué la veille de notre mariage.
                                        J'ai pu trouver une remplaçante en 3 clics pour mon voyage de noces.
                                        Merci +1 !</p>
            <strong>Jacques</strong>
          </div>
        </div>

        <div class="testimonial card rounded-lg shadow border-0 mx-2">
          <%# <%= image_tag "ZG_LW_PP.png", class: "avatar avatar-testimony" %>
          <div class="text px-5 py-5">
            <div class="testimonial-quote"><i class="fas fa-quote-right" style="color: #000000;"></i></div>
            <p class="testimonial-text mx-n1">+1 on est dans la FrenchTech 121 ! +1 on est dans la FrenchTech 121 !
                                        +1 on est dans la FrenchTech 121 ! +1 on est dans la FrenchTech 121 !</p>
            <strong>La team +1</strong>
          </div>
        </div>
    </div>
</section>
