<div class="container-fluid">
  <div class="row">
  <div class="col-4">
    <div class="mt-4">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= image_tag "plus1_big.svg" %>
        <div class="form-inputs mt-3">
          <%= f.input :email,
                      label: "Adresse e-mail",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, class: "form-control" %>
          <%= f.input :password,
                      label: "Mot de passe",
                      required: false,
                      input_html: { autocomplete: "current-password" }, class: "form-control" %>
          <%= f.input :remember_me,
                      label: "Se souvenir de moi",
                      as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Se Connecter", class: 'btn btn-sm btn-primary w-100' %>
        </div>
      <% end %>
    </div>
  </div>
    <div class="col-8  mr-0 pr-0">
      <%= image_tag "dinner.jpg", id: "dinner", class: "img-fluid" %>
    </div>
  </div>
</div>